<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-aWSe3PN8b3oNwVe2feZQSst2P_Ba2Uo</string>
	<key>GCM_SENDER_ID</key>
	<string>404585085347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.madinati</string>
	<key>PROJECT_ID</key>
	<string>mcauthapp-34bb6</string>
	<key>STORAGE_BUCKET</key>
	<string>mcauthapp-34bb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404585085347:ios:785ed765a3a97a9b9f8216</string>
</dict>
</plist>